
# 영화진흥위원회(KOBIS)에서 발급받은 API 키를 입력하세요.
MOVIE_BASE_URL=영화진흥위원회(KOBIS)URL주소
MOVIE_API_KEY=여기에_발급받은_API_키

# 노션 API 키와 페이지 부모 아이디
NOTION_TOKEN=노션에서 받은 API키값
NOTION_PARENT_PAGE_ID=해당노션의 부모페이지 아이디

NOTION_DATABASE_ID=노션에 만들어진 데이타베이스 아이디
NOTION_DATA_SOURCE_ID=노션에 만들어진 데이타 소스 아이디
